h1{
    font-size: 9vh;
    text-shadow: .3vh .3vh #7E868D;
}

.HeaderLink{
    font-size: 3vh;
    text-shadow: .25vh .25vh #1a618a;
    margin: 0vh;
    padding: 0vh;
    
}

.HeaderLink a{
    padding: 1vh;
}

.HeaderLink a:link {
    color: #66B4E1;
}
.HeaderLink a:hover{
    color: #7c939500;
    text-shadow: .2vh .2vh #175d83;
}
.HeaderLink a:active{
    color: #7c939500;
    text-shadow: .2vh .2vh #7E868D;
}

a:visited{
    color: #66B4E1;
}

.header{
    background-color: #131B23;
    margin: 0vh;
    padding: .1vh;
    text-align: center;
    color: #E9F1F7;
    width: 100%;
    font-family: 'Pacifico', cursive; 
    
}

.boxes{
    background-color: #E7DFC6;
    border-radius: 1vh;
    margin: 10vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
    text-align: center;
    font-size: 3vh;
    font-family: 'Bebas Neue', sans-serif;
}
p{
    color:#131B23;
}
body{

    margin:0;
    padding:0;
    background-color: #816C61;
}